/* friends page bg */
.theme-dark .container-1D34oG {
  background-color: transparent;
}

/* friends page "active now" game bg */
.theme-dark .inset-3sAvek {
  background-color: var(--selected);
}

/* friends page action buttons (message / more) */
.actionButton-uPB8Fs {
  background-color: var(--secondary);
}
.actionButton-uPB8Fs:hover {
  background-color: var(--selected-bright);
}
