/* home icon not active */
.wrapper_d281dd[aria-label="Direct Messages"]>.childWrapper__01b9c {
  background: url(../images/home_inactive.png) var(--top-card-dark);
  background-size: cover;
  transition: background .15s ease-out, color .15s ease-out;
}

/* home icon active */
.wrapper_d281dd.selected_f5ec8e[aria-label="Direct Messages"]>.childWrapper__01b9c {
  background: url(../images/home_active.png) var(--selected-bright);
  background-size: cover;
  transition: background .15s ease-out, color .15s ease-out;
}

/* get rid of original icon */
.homeIcon-r0w4ny {
  display: none;
}
