@import "colors.css";
@import "main_bg.css";
@import "home_icon.css";

/* friends tab */
.theme-dark .container-1D34oG {
  background-color: transparent;
}

/* friends tab activity bg */
.theme-dark .inset-3sAvek {
  background-color: var(--selected);
}

/* settings tab divider*/
.sidebarRegionScroller-3MXcoP {
  border-right: 1px solid var(--background-modifier-accent);
}
/* settings */
.layer-3QrUeG[aria-label="USER_SETTINGS"] {
  background-color: var(--secondary);
}

/* back layer color of window*/
.app-2rEoOp {
  background: transparent;
}

/* server list bg */
.scroller-1Bvpku, .guilds-1SWlCJ {
  background: transparent !important;
}

/* server icon bg */
.childWrapper-anI2G9 {
  background-color: var(--secondary);
}

/* folder dropdown bg */
.expandedFolderBackground-1cujaW {
  background-color: var(--secondary);
}
/* folder expanded background */
.expandedFolderIconWrapper-Huv7rA {
  background-color: transparent;
}
/* closed folder bg */
.closedFolderIconWrapper-2sTcE6 {
  background-color: var(--secondary);
}
/* folder bg */
.folderIconWrapper-1_bOZe {
  background: transparent !important;
}

/* dm channels search bar */
.searchBar-6Kv8R2 .searchBarComponent-32dTOx{
  background-color: var(--textbox);
}

/* ctrl + f search bar */
.searchBar-3dMhjb {
  background-color: var(--textbox);
}
.theme-dark .searchFilter-2ESiM3 {
  background-color: var(--selected-bright);
}
.theme-dark .searchAnswer-3Dz2-q {
  background-color: var(--selected-bright);
  margin-left: 1px;
  border-left: 1px solid var(--main);
}
/* search results */
.searchResultsWrap-3-pOjs {
  background-color: var(--main);
}
.button-11zvza {
  background-color: transparent;
}
/* search popout */
#app-mount .container-3ayLPN {
	background-color: var(--top-card-dark);
}
#app-mount .option-96V44q.selected-rZcOL- {
  background-color: var(--selected);
}
#app-mount .option-96V44q::after {
  display: none;
}
#app-mount .option-96V44q.selected-rZcOL- {
  background-color: var(--selected);
}
/* popout header */
#app-mount .focused-2bY0OD {
  background-color: var(--selected);
}

/* inbox bg & header*/
.container-enaOkj {
  background-color: var(--main);
}
.messages-3G3erD {
  background-color: var(--selected);
}

/* pinned messages bg */
.messagesPopoutWrap-1MQ1bW {
  background-color: var(--main);
}
.messageGroupWrapper-o-Zw7G {
  background-color: var(--selected);
  border: 1px solid var(--secondary);
}

/* new message separator */
.unreadPillCapStroke-7rkHbg {
  color: var(--blue);
  fill: var(--blue);
}
.unreadPill-2HyYtt {
  background-color: var(--blue);
}
.isUnread-3Ef-o9 {
  border-color: var(--blue);
}
.isUnread-3Ef-o9 .content-1o0f9g {
  color: #fff;
  background-color: var(--top-card);
}
/* jump to present thing */
.jumpToPresentBar-G1R9s6 {
  background-color: var(--top-card);
}

/* replying to bar */
.container-2fRDfG {
  background: var(--secondary);
}

/* no format box */
.markup-2BOw-j code {
  background: var(--secondary);
  border: transparent;
}

/* txt file in text display bg and footer bg*/
.textContainer-C0szpm {
  background: var(--secondary);
  border: 1px solid var(--secondary);
}
.footer-2yA7Ep {  
  background: var(--bottom-card);
  border: 1px solid var(--secondary);
}
/* txt file preview */
.theme-dark .root-1gCeng {
  background-color: var(--main);
}

/* embed bg */
.embedFull-2tM8-- {
  background: var(--secondary);
}

/* autofill / emote bg */
.theme-dark .autocomplete-1vrmpx {
  background: var(--main);
}
.theme-dark .selected-1Tbx07 {
  background-color: var(--selected);
}

/* file upload bg, footer, textbox, upload button */
.theme-dark .uploadModal-2ifh8j {
  background-color: var(--main);
}
.uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC {
  background-color: transparent;
}
.uploadModal-2ifh8j .inner-3nWsbo .channelTextAreaUpload-3t7EIx {
  background-color: var(--selected);
}
.lookFilled-1Gx00P.colorBrand-3pXr91 {
  background-color: var(--selected);
}

/* profile info bg */
.topSectionNormal-2-vo2m {
  background-color: var(--top-card);
  border-bottom: 2px solid var(--selected); 
}
/* send message button */
.lookInverted-2D7oAl.colorBrand-3pXr91, .lookFilled-1Gx00P.colorGreen-29iAKY {
  background-color: var(--selected);
}
.lookInverted-2D7oAl.colorBrand-3pXr9:hover, .lookFilled-1Gx00P.colorGreen-29iAKY:hover {
  background-color: var(--selected-bright);
}
/* bottom part */
.body-3ND3kc {
  background-color: var(--bottom-card);
}
/* info tabs */
.tabBarContainer-1s1u-z {
  position: relative;
  top: 2px;
  border-color: transparent;
}
/* user info boxes*/
.connectedAccount-36nQx7 {
  background-color: var(--selected);
}
/* while playing */
.topSectionPlaying-1J5E4n {
  background-color: var(--top-card);
  border-bottom: 2px solid var(--selected);
}
.activityProfile-2bJRaP.activity-1ythUs {
  background: var(--selected);
}

/* profile popup top (playing and not) & bottom (body & footer) */
.headerPlaying-j0WQBV {
  background-color: var(--top-card);
}
.theme-dark .headerNormal-T_seeN {
  background-color: var(--top-card-dark);
}
.theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
  background-color: var(--top-card-dark);
}
/* activity part */
.activity-11LB_k {
  background-color: var(--selected);
  background-clip: padding-box;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 6px;
  margin-left: 6px;
}
/* text boxes (notes & dm) */
.textarea-2r0oV8:focus {
  background-color: var(--selected);
}
.inputWrapper-31_8H8>.input-cIJ7To {
  background-color: var(--selected);
}

.linkButtonIcon-Mlm5d6>g>path {
  d: path("M 10,30 A 20,20 0,0,1 50,30 A 20,20 0,0,1 90,30 Q 90,60 50,90 Q 10,60 10,30 z");
}

<div class="children-19S4PO"><div class="iconWrapper-2OrFZ1" role="button" aria-label="Direct Message" tabindex="-1"><svg x="0" y="0" class="icon-22AiRD" aria-hidden="false" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M12 2C6.486 2 2 6.486 2 12C2 17.515 6.486 22 12 22C14.039 22 15.993 21.398 17.652 20.259L16.521 18.611C15.195 19.519 13.633 20 12 20C7.589 20 4 16.411 4 12C4 7.589 7.589 4 12 4C16.411 4 20 7.589 20 12V12.782C20 14.17 19.402 15 18.4 15L18.398 15.018C18.338 15.005 18.273 15 18.209 15H18C17.437 15 16.6 14.182 16.6 13.631V12C16.6 9.464 14.537 7.4 12 7.4C9.463 7.4 7.4 9.463 7.4 12C7.4 14.537 9.463 16.6 12 16.6C13.234 16.6 14.35 16.106 15.177 15.313C15.826 16.269 16.93 17 18 17L18.002 16.981C18.064 16.994 18.129 17 18.195 17H18.4C20.552 17 22 15.306 22 12.782V12C22 6.486 17.514 2 12 2ZM12 14.599C10.566 14.599 9.4 13.433 9.4 11.999C9.4 10.565 10.566 9.399 12 9.399C13.434 9.399 14.6 10.565 14.6 11.999C14.6 13.433 13.434 14.599 12 14.599Z"></path></svg></div><h3 role="button" class="cursorPointer-1j7DL8 title-29uC1r base-1x0h_U size16-1P40sf">Revollion</h3><div aria-label="Online" class="status-1XNdyw disableFlex-2QuzIB"><svg width="10" height="15" viewBox="0 0 10 15" class="mask-1qbNWk"><mask id="df9248bb-e522-42f2-8927-7e3756ea47e3"><rect x="0" y="2.5" width="10" height="10" rx="5" ry="5" fill="white"></rect><rect x="5" y="7.5" width="0" height="0" rx="0" ry="0" fill="black"></rect><polygon points="-2.16506,-2.5 2.16506,0 -2.16506,2.5" fill="black" transform="scale(0) translate(5.625 7.5)" style="transform-origin: 5.625px 7.5px;"></polygon><circle fill="black" cx="5" cy="7.5" r="0"></circle></mask><rect x="0" y="0" width="10" height="15" fill="rgba(67, 181, 129, 1)" mask="url(#df9248bb-e522-42f2-8927-7e3756ea47e3)"></rect></svg></div><div class="spacer-3kEb8l"></div></div>
