/* Main Background */
.appMount-2yBXZl {
  background: url(../images/main_bg.png) !important;
  background-size: cover !important;
}

/* layer above main bg (if for some reason you want another bg above the main bg image) */
.app-2CXKsg {
  background: transparent;
}
