/* server list bg */
.scroller-3X7KbA, .guilds__2b93a {
  background: transparent !important;
}

/* "transparent" server icon bg */
.childWrapper__01b9c {
  background-color: var(--secondary);
}

/* hover server icon bg */
.wrapper_d281dd:hover .childWrapper__01b9c {
  background-color: var(--selected);
}

/* selected server icon bg */
.wrapper_d281dd.selected_f5ec8e .childWrapper__01b9c {
  background-color: var(--selected-bright);
}

/* folder dropdown bg */
.expandedFolderBackground__1bec6 {
  background-color: var(--secondary);
}

/* closed folder bg */
.closedFolderIconWrapper-3tRb2d {
  background-color: var(--secondary);
}

/* expanded folder background */
.expandedFolderIconWrapper-3RwQpD {
  background-color: var(--secondary);
}

/* folder bg */
.folderIconWrapper-1oRIZr {
  background: transparent !important;
}
