/* server list bg */
.scroller-1Bvpku, .guilds-1SWlCJ {
  background: transparent !important;
}

/* "transparent" server icon bg */
.childWrapper-anI2G9 {
  background-color: var(--secondary) !important;
}

/* folder dropdown bg */
.expandedFolderBackground-1cujaW {
  background-color: var(--secondary);
}

/* closed folder bg */
.closedFolderIconWrapper-1I9YfS {
  background-color: var(--secondary);
}

/* expanded folder background */
.expandedFolderBackground-3ZDF05 {
  background-color: var(--secondary);
}

/* folder bg */
.folderIconWrapper-1Ml_1q {
  background: transparent !important;
}
