/* "My Account" page stuff */
/* edit button */
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV {
  background: var(--secondary);
}
.theme-dark .lookFilled-1Gx00P.colorGrey-2DXtkV:hover {
  background: var(--selected);
}


/* "Authorized Apps" page stuff */
/* listed app bg */
.cardPrimaryOutline-29Ujqw {
  background: var(--secondary);
}

/* deauthorize button */
.lookOutlined-3sRXeN.colorRed-1TFJan {
  background: var(--main);
}
.lookOutlined-3sRXeN.colorRed-1TFJan:hover {
  background: var(--selected);
}


/* "Connections" page stuff */
/* accounts list (app icon bg on top header thing) */
.accountBtn-2Nozo3 .accountBtnInner-sj5jLs {
  background-color: var(--secondary);
}

/* connection header */
.connectionHeader-2MDqhu {
  background: var(--secondary);
}

/* connection wrapper */
.connection-1fbD7X {
  background: var(--secondary);
}
