@import "formatting_and_previews.css";  /* for message embeds, previews, etc. */
@import "chat_popouts.css";  /* for upload / pin message popouts */
@import "emoji_picker.css";

/* message options menu (the popup on the side of a hovered message)*/
.wrapper-2aW0bm {
  background-color: var(--secondary);
}
.button-1ZiXG9:hover {
  background-color: var(--selected-bright);
}
.button-1ZiXG9.selected-LCBEAU {
  background-color: var(--selected-bright);
}

/* new message separator */
.unreadPillCapStroke-7rkHbg {
  color: var(--blue);
  fill: var(--blue);
}
.unreadPill-2HyYtt {
  background-color: var(--blue);
}
.isUnread-3Ef-o9 {
  border-color: var(--blue);
}
.isUnread-3Ef-o9 .content-1o0f9g {
  color: #fff;
  background-color: var(--top-card);
}

/* jump to present tab */
.jumpToPresentBar-G1R9s6 {
  background-color: var(--top-card);
}

/* replying to tab */
.container-2fRDfG {
  background: var(--secondary);
}

/* autofill menu bg */
.theme-dark .autocomplete-1vrmpx {
  background: var(--main);
}
.theme-dark .selected-1Tbx07 {
  background-color: var(--selected);
}
