/* no format box */
.markup-2BOw-j code {
  background: var(--secondary);
  border: transparent;
}

/* txt file in text display bg and footer bg*/
.container-rr3Ruk {
  background: var(--secondary);
  border: 1px solid var(--secondary);
}
.footer-GXWBBp {  
  background: var(--bottom-card);
  border: 1px solid var(--secondary);
}

/* txt file preview */
.theme-dark .root-1gCeng {
  background-color: var(--main);
}

/* embed bg */
.embedFull-2tM8-- {
  background: var(--secondary);
}

/* server invite bg */
.wrapper-35wsBm {
  background: var(--secondary);
}

/* attachment bg */
.attachment-33OFj0 {
  background: var(--secondary);
}
